.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
};

.component-container {
};

.solution {
    display: inline;
    float: left;
}

.legend {
    display: inline;
    position: sticky;
    float: right;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    margin-left: 10%;
};

.svg-content {
};
