.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.component-container {
  position: static;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: visible;
}
.svg-content {
  float: left;
  top: 0;
  left: 0;
}
